# HTTP requests library
requests

# Beautiful Soup Webscrape library
beautifulsoup4

# pandas organize in tabular form
pandas

# syntax formatting
black
flake8

#yahoo finance api
yfinance

# more robust webscrape library
selenium

